{{#> wrapper-content }}

  {{# if toc }}{{> content-toc toc=this.toc }}{{/ if }}

  <h1>{{ title }}</h1>
  <br>
  <div id="staticContent">{{{{raw}}}}{% body %} {{{{/raw}}}}</div>
{{/ wrapper-content }}
